# Ignore Python virtual environment
venv/

# Ignore node_modules and related files for forage-jpmc-swe-task-2 and forage-jpmc-swe-task-3
/forage-jpmc-swe-task-*/node_modules/
/forage-jpmc-swe-task-*/.pnp/
/forage-jpmc-swe-task-*/.pnp.js

# Ignore coverage and build directories for both tasks
/forage-jpmc-swe-task-*/coverage/
/forage-jpmc-swe-task-*/build/

# Ignore miscellaneous files for both tasks
/forage-jpmc-swe-task-*/.DS_Store
/forage-jpmc-swe-task-*/.env*.local

# Ignore debug logs for both tasks
/forage-jpmc-swe-task-*/npm-debug.log*
/forage-jpmc-swe-task-*/yarn-debug.log*
/forage-jpmc-swe-task-*/yarn-error.log*
